<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perro</title>
  </head>
  <body>
    <header>
      <h1>Reporte</h1>
      <div>
        <fieldset>
          <legend>Fecha única</legend>
          <input
            type="search"
            name="fecha"
            id="fecha"
            aria-label="Search"
            placeholder="Buscar por nombre"
          />
          <button class="btn btn-outline-secondary" type="button">
            Buscar
          </button>
        </fieldset>
        <fieldset>
          <legend>Intervalo</legend>
          <label for="fecha1">De</label>
          <input
            type="search"
            name="fecha1"
            id="fecha1"
            aria-label="Search"
            placeholder="YYYY-MM-DD"
          />
          <label for="fecha2">Hasta</label>
          <input
            type="search"
            name="fecha2"
            id="fecha2"
            aria-label="Search"
            placeholder="YYYY-MM-DD"
          />
          <button class="btn btn-outline-secondary" type="button">
            Buscar
          </button>
        </fieldset>
      </div>
    </header>
    <main>
      <section>
        <div class="positivos">
          <div class="ingresos">
            <table>
              <tr>
                <th>Ingresos</th>
                <th>16565654654</th>
                <th><button>Mostrar</button></th>
              </tr>
            </table>
          </div>
          <div></div>
          <div class="depositos"></div>
          <div class="totalmas"></div>
        </div>
      </section>
      <section class="total"></section>
    </main>
    <footer><div></div></footer>
  </body>
</html>
